
@font-face {
    font-family: 'Preeti';
    src: url('preeti_font.ttf.woff') format('woff'), url('preeti_font.ttf.svg#preeti_font') format('svg'), url('preeti_font.ttf.eot'), url('preeti_font.eot?#iefix') format('embedded-opentype');
    font-weight: normal;
    font-style: normal;
}
